.register-btn{
    padding: 10px 30px;
    border: 2px solid #289BDE;
    color: #289BDE;
    font-weight: 500;
}
.tech-learner-btn{
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: #289BDE;
    font-weight: 500;
}